.hide {
    visibility: none;
    height: 0;
}

.slider {
    text-align: center;
}

.slider-header {
    text-align: center;
}

.slider-results {
    margin: 0 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.slider-button {
    padding: 20px;
}
